@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, -apple-system,
    "Apple SD Gothic Neo", "Noto Sans KR", "Segoe UI", "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Breakpoints */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 75rem; /* 1200px */

  /* Font sizes and line-height */
  --text-3xl: 32px;
  --text-3xl--line-height: 42px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-xl: 20px;
  --text-xl--line-height: 32px;

  --text-2lg: 18px;
  --text-2lg--line-height: 26px;

  --text-lg: 16px;
  --text-lg--line-height: 26px;

  --text-md: 14px;
  --text-md--line-height: 24px;

  --text-sm: 13px;
  --text-sm--line-height: 22px;

  --text-xs: 12px;
  --text-xs--line-height: 18px;

  /* Colors */
  --color-black: #1b1b1b;
  --color-nomadBlack: #112211;

  --color-gray-900: #4b4b4b;
  --color-gray-800: #79747e;
  --color-gray-700: #a1a1a1;
  --color-gray-600: #a4a1aa;
  --color-gray-500: #adaeb8;
  --color-gray-400: #cbc9cf;
  --color-gray-300: #dddddd;
  --color-gray-200: #eeeeee;
  --color-gray-100: #fafafa;

  --color-green-900: #0b3b2d;
  --color-green-500: #00ac07;
  --color-green-100: #ced8d5;

  --color-red-500: #ff472e;
  --color-red-200: #ffc2ba;
  --color-red-100: #ffe4e0;

  --color-orange-500: #ff7c1d;
  --color-orange-100: #fff4e8;

  --color-yellow-500: #ffc23d;

  --color-blue-500: #0085ff;
  --color-blue-300: #2eb4ff;
  --color-blue-100: #e5f3ff;
}

.react-datepicker__header--custom {
  background: #fff;
  border: 0;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(
    .react-datepicker__day--outside-month
  ):hover {
  background: #ced8d5;
  color: #0b3b2d;
  border-radius: 8px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #0b3b2d;
  color: #fff;
  border-radius: 8px;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
